.mainbox{
    min-height: 100vh;
    /* background-color: aquamarine; */
    background-image: url('../Assests/Landing\ Page.png');
}

.timeline{
    background-image: url('../Assests/timelineB.png');
}

/* .testamonials{
    background-color: ;
} */

.mainsection .textsection .h1{
        color: #000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}

.mainsection .textsection .p{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.encouraging{
    color: #17bf9e;
}



.img-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(2px);
    color:#fff;
    text-align: center;
    margin: 1rem;
    text-shadow: 0 0 15px #000;
    width:75%
}

.img12{
    background: url('../Assests/employee.jpg');
}

.img11,.img12{
    min-height: 80%;
    height: 60vh;

    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:dark;
    opacity: 0.85;
}
@media only screen and (max-width: 700px) {
   .imt{
    flex-direction: column;
    justify-content: space-around;
   }

   .img11,.img12{
    height: 50vh;
 }
  }

  .imagetexter{
    color: #fff;
    font-size: 17px;
  }