.mainbox{
    min-height: 100vh;
    /* background-color: aquamarine; */
    background-image: url('../Assests/Landing\ Page.png');
}

.timeline{
    background-color: aqua;
}

.testamonials{
    background-color: blueviolet;
}

.mainsection .textsection .h1{
        color: #000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}

.mainsection .textsection .p{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}