.mainbox{
    min-height: 95vh;
    background-color: aquamarine;
}

.timeline{
    background-color: aqua;
}

.testamonials{
    background-color: blueviolet;
}

.imgsection{
    background-color: blue;
}