.cvsubmitted, .mockinterview{
    min-height: 500px;
}

.cvreveiew{
    min-height: 200px;
}

.interviews{
    min-height: 250px;
}

.mainsection1{
    background-color: #D2FBF1;
}
.profilesection{
    background-color: #D2FBF1;

}