.postbody{
    min-height: 200px;
    color: white;
    font-size: 1.1rem;
    text-align: justify;
    font-weight: bold; 
    font-family: 'Helvetica', sans-serif;
}

.postbody .p{
    font-size: 1.1rem;
    text-align: justify;
    font-weight: bold; 
    font-family: 'Helvetica', sans-serif;
}

.profile-picture {
    width: 50px; /* Adjust the width of the picture */
    height: 50px; /* Adjust the height of the picture */
    border-radius: 50%; /* Make the picture round */
    margin-right: 10px; /* Add some space between the picture and the user name */
  }

.postOutline{
    background-color: #17bf9e;
}

